<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body>
<form th:action="@{/save}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />

    Username: <input type="text" th:field="*{username}" /><br/>
    Age: <input type="number" th:field="*{age}" /><br/>
    Gender: <input type="text" th:field="*{gender}" /><br/>
    Nationality: <input type="text" th:field="*{nationality}" /><br/>
    Password:  <input type="password" th:field="*{password}" /><br/>
    Admin Code:
    <input type="text" name="adminCode" placeholder="Admin Code (optional)" /><br/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <button type="submit">Save</button>
</form>

<a href="/">Back</a>
</body>