<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>

<table border="1">
    <tr>
        <th>Username</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Nationality</th>
    </tr>

    <tr>
        <td th:text="${user.username}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.gender}"></td>
        <td th:text="${user.nationality}"></td>
    </tr>
</table>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
</body>